/*----------------------------------------------------------------
                        SMALL SCREEN
----------------------------------------------------------------*/

body{
    background-image: url(../images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS", cursive;
}

.banner-img{
    width: 100%;
 }
#content{
    width:90%;
    background-color: #fff;
    margin: 0 auto;
}

/*--------------------- HEADER ------------------*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.logo{
    width:45%;
}

.account{
    width:15%;
}

header div{
    text-align: right;
    padding-top: 10px;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2vw;
}

/*--------------------- NAV ------------------*/

nav{
    background-color: #de2226;
    font-size: 2.5vw;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    padding-top:5px;
    padding-bottom:5px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #fff;
    color: #de2226;
    padding: 10px;
}

/*--------------------- MAIN ------------------*/

main h1{
    padding-left: 5px;
    font-size: 3vw;
}

.banner{
    position: relative;
}


.banner-ul{
    position: absolute;
    top: 0px;
    right: 25px;
    color: #de2226;
    list-style: none;
    
    font-size: 2vw;
}

.item1 {grid-area: item1;}
.item2 {grid-area: item2;}
.item3 {grid-area: item3;}
.item4 {grid-area: item4;}
.item5 {grid-area: item5;}

/* Three image containers  */
.gridcontainer{
    display: grid;
    grid-template-areas:
    'item1 item1'
    'item2 item3'
    'item4 item5';
    grid-gap: 2px;
    width: 100%;
}
figure{
    margin-left: 0;
    margin-right: 0;
}
#actionbtn{
    width: 20vw;
}
figure{
    background-color: #808080;
    text-align: center;
}

.gridcontainer div{
    text-align: center;
}
  

/*--------------------- FOOTER ------------------*/
footer{
    padding: 5px;
    text-align: center;
    font-size: 2vw;
}

hr{
    background-color: black;
    height: 2px;
}




/*----------------------------------------------------------------
                        MEDIUM SCREEN
----------------------------------------------------------------*/

@media only screen and (min-width: 600px) {

/*--------------------- HEADER ------------------*/
.logo{
    width: 40%;
}

#bottom{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

#bottom div{
    padding-right: 20px;
}

.gridcontainer{
    width: 40%;
}
/*--------------------- NAV ------------------*/

/*--------------------- MAIN ------------------*/

/*--------------------- FOOTER ------------------*/
}




/*----------------------------------------------------------------
                        LARGE SCREEN
----------------------------------------------------------------*/

@media only screen and (min-width: 770PX) {

/*--------------------- HEADER ------------------*/

/*--------------------- NAV ------------------*/

/*--------------------- MAIN ------------------*/

/*--------------------- FOOTER ------------------*/
}